*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #000;
}

container{
  max-width: 1000px;
  margin: 0 auto;
}

header{
  width: 90%;
}

/*main*/
.main-title{
  margin-left: 20px
}

.main-visual-conten{
  display: block;
  margin: auto;
}

.main-visual{
  width: 100%;
  height: 600px;
  background-image: url(img/mainvisual.jpg);
  background-size: cover;
  display: block;
  margin: 0 auto;
}

/*index*/
#index{
  background-color: #EEEEEE;
  width: 90%;
  padding: 10px 10px;
  margin: 25px auto;
}

.index-title{
  text-align: center;
}

ol{
  list-style-position: inside;
}

a{
  text-decoration: none;
}

.index-text{
  border: solid 1px;
  padding: 10px 15px;
}

.ol{
  padding-left: 20px;
  list-style-type: decimal;
}

.ol::maker{
  
}

/*portfolio*/
#portfolio{
  margin: 0 auto;
}

.portfolio-img{
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}


.portfolio-img-content{
  width: 480px;
  height: 600px;
  margin: 10px 10px;
}

/*detail*/
#detail{
  background-color: #EEEEEE;
  width: 900px;
  padding: 15px 10px;
  margin: 0 auto;
  text-align: 0 auto;
}

.detail-content{
  display: flex;
  flex-wrap: wrap;
}

.detail-content-title{
  text-align: center;
  width: 100%;
  margin: 15px 0;
}

.detail-content-left{
  width: 35%;
  padding-left: 30px;
  line-height: 160%;
}

span{
  font-weight: bold;
}

.detail-content-right{
  width: 55%;
  padding-left: 30px;
  border-left: solid 2px;
  line-height: 160%;
}

/*footer*/
footer{
  text-align: center;
  margin:15px;
}

@media screen and (max-width: 767px){
  
 .main-visual{
   height: 450px;
 }
 
 .portfolio-img{
   display: block;
   margin: 0 auto;
 }
 
 li{
   display: block;
   margin: 0 auto;
 }
 
 #detail{
   display: block;
   width: 90%;
   line-height: 50px;
 }
 
 .detail-content-left{
   width: 100%;
   line-height: 30px;
 }
 
 .detail-content-right{
   width: 100%;
   border-left: none;
   border-top: solid 1px;
   line-height: 30px;
 }
}